NODE_ENV="development"
PORT="3000"
DATABASE_URL=""
CORS_ORIGIN="*"
ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRY="15m"
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRY="7d"
SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
FORGOT_PASSWORD_REDIRECT_URL="http://localhost:5173/reset-password"
